<!DOCTYPE html>
<head>
	<title>Remote</title>
</head>
<body style=" max-width: 100%;">
	<a id=up_left href="/up_left" >

		<img id="up_left" name="up_left" src="../static/images/arrow_up_left.png" style="height: auto;
    max-width: 33%" >

	</a>
	<a id=up href="/up" >

		<img id="up" name="up" src="../static/images/arrow_up.png" style="height: auto;
    max-width: 33%" >

	</a>
	<a id=up_right href="/up_right" >

		<img id="up_right" name="up_right" src="../static/images/arrow_up_right.png" style="height: auto;
    max-width: 33%" >

	</a>
	<br>
	<a id=left href="/left" >

		<img id="left" name="left" src="../static/images/arrow_left.png" style="height: auto;
    max-width: 33%" >

	</a>
	<a id=click href="/click" >

		<img id="click" name="click" src="../static/images/click.png" style="height: auto;
    max-width: 33%" >

	</a>
	<a id=right href="/right" >

		<img id="right" name="right" src="../static/images/arrow_right.png" style="height: auto;
    max-width: 33%" >

	</a>
	<br>
	<a id=down_left href="/down_left" >

		<img id="down_left" name="down_left" src="../static/images/arrow_down_left.png" style="height: auto;
    max-width: 33%" >

	</a>
	<a id=down href="/down" >

		<img id="down" name="down" src="../static/images/arrow_down.png" style="height: auto;
    max-width: 33%" >

	</a>
	<a id=down_right href="/down_right" >

		<img id="down_right" name="down_right" src="../static/images/arrow_down_right.png" style="height: auto;
    max-width: 33%" >

	</a>
</body>
</html>