<!DOCTYPE html>
<head>
	<title>Remote</title>
</head>
<body style=" max-width: 100%;">
	<div>
		<div>
			<a id=click_play href="/mute" >

				<img id="mute" name="mute" src="../static/images/mute.png" style="height: auto;
		    max-width: 33%" >

			</a>

			<a id=click_play href="/volume_up" >

				<img id="volume_up" name="volume_up" src="../static/images/volume_up.png" style="height: auto;
		    max-width: 33%" >

			</a>
		</div>
		<br>
		<div>
			<a id=click_play href="/previous" >

				<img id="previous" name="previous" src="../static/images/previous.png" style="height: auto;
		    max-width: 33%" >

			</a>
			<a id=click_play href="/play_pause" >

				<img id="play_pause" name="play_pause" src="../static/images/play_pause.png" style="height: auto;
		    max-width: 33%" >

			</a>
			<a id=click_play href="/next" >

				<img id="next" name="next" src="../static/images/next.png" style="height: auto;
		    max-width: 33%" >

			</a>
		</div>
		<br>
		<div>
			<img id="blank" name="blank" src="../static/images/blank.png" style="height: auto;
		    max-width: 33%" >

			<a id=click_play href="/volume_down" >

				<img id="volume_down" name="volume_down" src="../static/images/volume_down.png" style="height: auto;
		    max-width: 33%" >

			</a>
		</div>
	<div>
</body>
</html>